.login-page {
  display: none
}

@media screen and (max-width:767px) {
  .login-page {
    display: block;
    height: 100vh;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff
  }

  .login-content {
    padding: 10px
  }

  .login-desc {
    margin-top: 70px
  }

  .login-desc h2 {
    font-weight: 700;
    font-size: 32px;
    color: #2d822a;
    text-align: center;
    margin-bottom: 30px
  }

  .login-desc p {
    font-weight: 400;
    font-size: 28px;
    color: #192838;
    text-align: center
  }

  .login-form {
    max-width: 370px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .144)
  }

  .mmImg {
    width: 100%
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .form-group input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0
  }

  .button_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .btn {
    background-color: #394048;
    border: 0;
    border-radius: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Muli, sans-serif;
    font-size: .7777777778rem;
    font-weight: 600;
    line-height: 1.2857142857;
    margin: 0;
    padding: 20px 57px 20px 57px;
    transition: background-color .3s ease;
    will-change: background-color;
    margin-top: 30px
  }
  .btn .icon {
    height: 20px;
    width: 20px;
    color: #ffffff;
  }
  .btn .icon svg {
    fill: #ffffff;
  }
}